.progress-slope {
    background-color: #ccc;
    height: 3px;
}
.text-bg-info {
    background-color: #000;
}

.larger-font {
    font-size: 2em;
        font-weight: bold;
        text-align: center;
}
.text-progresbar-info {
    color: #616161;
    font-size: 0.8em;
}