/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


body,
button,
input,
select,
textarea {
    font-family: 'Roboto', sans-serif;
}

.text-danger {
    color: #FF6600!important;
}
.danger {
    color: #FF6600!important;
}
.text-bg-danger {
        color: #FF6600 !important;
        background-color: #FF6600 !important;
    }